/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0; /* Light gray background */
}

.container {
    width: 90%; /* Adjusted width for responsiveness */
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: auto;
}

h1 {
    text-align: center;
     font-weight: bold;
    color: #333; /* Dark gray color for heading */
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    width: 200px; /* Adjusted width for responsiveness */
}

button#submit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #135c66; /* Blue color for button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#submit:hover {
    background-color: #092635; /* Darker shade of blue on hover */
}

/* Table Styles */
.my-matrix {
    width: 100%;
    overflow-x: auto; /* Make the table scrollable horizontally */
    border-collapse: collapse;
    max-width: 100%; /* Ensure it doesn't exceed the width of its container */
}

.my-matrix th,
.my-matrix td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

.my-matrix th {
    background-color: #135c66; /* Blue color for table headers */
    color: white;
}

.result {
    margin-top: 20px;
}

.result h2 {
    margin-bottom: 10px;
    color: #333;
}

.result ul {
    list-style-type: none;
    padding: 0;
}

.result ul li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.graph-container {
    width: 100%; /* Ensure it takes full width */
    max-width: 100%; /* Ensure it doesn't exceed the width of its container */
    height: auto; /* Automatically adjust height based on width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 10px; /* Add rounded corners */
    overflow: hidden; /* Hide overflow content */
    border: 1px solid #ccc; /* Add border */
}

.graph-container img {
    max-width: 100%; /* Ensure the image fits inside the container */
    height: auto; /* Automatically adjust height based on width */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 10px; /* Add rounded corners to the image */
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%; /* Full width on smaller screens */
        padding: 10px;
    }

    input[type="number"] {
        width: 100%; /* Full width input on smaller screens */
        margin-right: 0;
        margin-bottom: 10px;
    }

    .graph-container {
        padding: 10px; /* Reduce padding for smaller screens */
        border-radius: 5px; /* Reduce border radius for smaller screens */
    }
}
