<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Cash-Flow-Minimizer</title>
</head>
<body>
    <div class="container">
        <h1>Cash Flow Minimizer</h1>
        <div id="graph-image">

    </div>
        <div class="input-wrapper">
            <input id="number-of-persons" placeholder="Enter the number here" type="number">
            <button id="submit">Submit</button>
        </div>

        <table class="my-matrix"></table>
      <div class="result">
            <h2>Result:</h2>
            <ul id="result-list"></ul> <!-- Placeholder for displaying the result -->
        </div>
    </div>

    <script src="./static/js/next.js"></script>
</body>
</html>

